<!DOCTYPE html>
<html>
<head>
    <title>Imagen</title>
	    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #18171c; /* Color de fondo gris */
            margin: 0;
            padding: 0;
        }

        .container {
            margin-top: 100px;
        }
		h1 {
            color: white; /* Color de fuente blanco */
        }

    </style>
</head>
<body>
    <img src="data:image/png;base64, {{ imagen_codificada }}" alt="Imagen generada">
</body>
</html>
