<!DOCTYPE html>
<html>
<head>
    <title>Tabla de Datos</title>
    <style>
        .pandas-table {
            border-collapse: collapse;
            width: 100%;
        }
        
        .pandas-table th, .pandas-table td {
            border: 1px solid black;
            padding: 8px;
            text-align: center;
        }
        
        .pandas-table th {
            background-color: lightgray;
        }
    </style>
</head>
<body>
    <h1>Tabla de Datos</h1>
    {{ tabla|safe }}
    <br>
    <a href="/download_csv" class="download-btn">Descargar CSV</a>
</body>
</html>
